<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>

<body class="bg-gray-100">
  <div class="relative bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="w-[3.4rem] h-[4rem]" src="../../../assets/logo.png" alt="">
        </a>
    </div>

    <!-- <h1 class="font-bold text-transparent lg:text-2xl bg-clip-text bg-gradient-to-r from-pink-300 to-purple-400">Info Academie Centre</h1> -->

        <div class=" lg:flex lg:flex-1 lg:justify-end">
          <a href="/login" class="text-sm font-semibold leading-6 text-gray-900 lg:text-xl">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
    </header>

    <div class="relative w-full h-full px-6 isolate pt-14 lg:px-8 ">
      <div class="absolute inset-x-0 overflow-hidden -top-40 -z-10 transform-gpu blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#baa4b3] to-[#b6a1b0] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="max-w-full mx-auto py-11 sm:py-48 lg:py-56 ">
        <div class="mt-[-3rem] text-center sm:mt-[-1rem]  flex justify-center items-center flex-col">

          <h1 class="p-3  text-4xl  font-bold leading-10  line-height-[3rem] text-gray-900 sm:text-5xl md:text-6xl lg:text-[3.5rem]">Gérez tous dans une seule application</h1>
          <p class="max-w-2xl mt-3 text-lg leading-8 text-gray-600 sm:text-base md:text-lg lg:text-xl">Libérez le potentiel caché des données de votre application de chat pour personnaliser les expériences, augmenter les ventes et établir une relation client durable.</p>
          <div class="flex flex-col sm:flex-row items-center justify-center mt-10 gap-4 max-w-2xl text-[2rem] sm:gap-x-6">
            <a href="/admin/profs" class="w-full sm:w-auto bg-[#2E849D] px-[0.8rem] py-[0.8rem] text-xl font-semibold text-white
            shadow-sm focus:outline-none focus-visible:ring focus-visible:ring-offset-2 focus-visible:ring-indigo-600">Commencer</a>
            <a href="#" class="mt-4 sm:mt-0 font-semibold leading-6 text-xl text-[#2E849D]">Apprendre plus <span aria-hidden="true">→</span></a>
          </div>
        </div>

      </div>
      <!-- <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#5B9EB2] to-[#a19dd1] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div> -->
    </div>

    <div class="relative w-full h-full px-8 isolate md:mt-[-13rem] pt-14 lg:px-8">
        <img src="assets/image1.jpg" alt="" class="mx-auto mb-4 transition duration-300 ease-in-out shadow-lg hover:shadow-2xl lg:mx-0">
    </div>
  </div>

  <!-- Add any additional scripts here -->
</body>

</html>
