

<footer class="m-4 bg-[#F1F5F9] rounded-lg shadow dark:bg-gray-800">
    <div class="w-full max-w-screen-xl m md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
         <!-- <a href="https://infoacademie.com/" class="hover:underline">

        <img class="w-[3.4rem] h-[4rem]" src="../../../assets/logo.png" alt="">


      </a> -->
      <a href="#" class="">
        <span class="sr-only">Your Company</span>
        <img class="w-[3.4rem] h-[4rem]" src="../../../assets/logo.png" alt="">
    </a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-xl font-semibold text-black dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">infoacademie3@gmail.com</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">+2126.60.33.16.39</a>
        </li>
        <li>
            <a href="https://web.facebook.com/Info-Academie-114019803356403" class="hover:underline me-4 md:me-6">Facebook</a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCpHmLsOHMajcr-3lHG5gW1Q/featured" class="hover:underline">Youtube</a>
        </li>
    </ul>
    </div>
</footer>
